<?xml version="1.0"?>
<!--

    The MIT License
    Copyright © 2021-present KuFlow S.L.

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.

-->
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">

  <module name="SuppressionFilter">
		<property name="file" value="${checkstyle.suppressions.location}" />
	</module>

  <module name="FileTabCharacter"/>

  <!-- Allow suppression with comments
     // CHECKSTYLE:OFF
     ... ignored content ...
     // CHECKSTYLE:ON
  -->
  <module name="SuppressWithPlainTextCommentFilter"/>

  <module name="com.puppycrawl.tools.checkstyle.TreeWalker">

    <!-- Block Checks -->
    <module name="com.puppycrawl.tools.checkstyle.checks.blocks.RightCurlyCheck" />

    <!-- Imports -->
    <module name="UnusedImports" />
    <module name="AvoidStarImport" />
    <module name="RedundantImport" />

    <!-- Reject any org.junit import that's not also org.junit.jupiter: -->
    <module name="IllegalImport">
      <property name="regexp" value="true"/>
      <property name="illegalClasses" value="^org\.junit\.(?!jupiter\.).+"/>
    </module>

    <!-- Regexp -->
    <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
      <property name="maximum" value="0"/>
      <property name="format" value="org\.mockito\.Mockito\.(when|doThrow|doAnswer)" />
      <property name="message" value="Please use BDDMockito imports." />
      <property name="ignoreComments" value="true" />
    </module>
    <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
      <property name="maximum" value="0"/>
      <property name="format" value="org\.junit\.Assert\.assert" />
      <property name="message" value="Please use AssertJ imports." />
      <property name="ignoreComments" value="true" />
    </module>
    <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpCheck">
      <property name="format" value="[ \t]+$" />
      <property name="illegalPattern" value="true" />
      <property name="message" value="Trailing whitespace" />
    </module>

    <module name="com.puppycrawl.tools.checkstyle.checks.coding.RequireThisCheck">
      <property name="validateOnlyOverlapping" value="false" />
    </module>

  </module>

</module>
